body{
  background-color: rgb(85, 85, 85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.tableautitle{
  font-weight: bold;
  font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.font{
  font-weight: bold;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
  float: right;
}
  
li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #111;
}
  

.navigation{
top: 5px;
left: 5px;
right: 5px;
height: 100px;
}

.tableau{
    top:114px;
    left: 114px;
    right: 5px;
    bottom: 64px;
    text-align: center;
}

.footer{
    height:50px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: center;
}


