
body{
    background-color: rgb(255, 255, 255);
}

h2{
    color: rgb(79, 158, 237);
}

h3{
    color: rgb(79, 158, 237);
    font-weight: 600;
}

ol{
    color: gray;
    font-weight:700;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    color: gray;
    font-weight:lighter;
    font-style: italic;
}

li{
    color: gray;
}

.justify{
    text-align: center;

}

.justifyleft{
    text-align: left;
}

.resume{
    color: rgb(79, 158, 237);
}

.intro{
    color: gray;
    font-weight:bold;
}
    
.title{
    font-family:monospace;
    font-weight: bold;
}

.align{
    text-align: left;
    color: gray;
    font-weight:bold;
  }

.aboutme {
    color: rgb(218, 218, 218);
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}